<style>
  .modal-content {
    background-color: #212121;
    color: white;
  }
</style>

<div class="modal fade" id="owned_item-{{ item.id }}" tabindex="-1" aria-labelledby="itemInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ item.name }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ selling_form.hidden_tag() }}
          <h4 class="text-center">Are you sure you want to sell {{ item.name }} for {{ item.price }}$?</h4>
          <br>
          <h6 class="text-center">By clicking Sell Now you will sell this item.</h6>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input id="sold_item" name="sold_item" type="hidden" value="{{ item.name }}">
            {{ selling_form.submit(class="btn btn-outline-danger btn-block") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
