<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+8jhAXgFt9fwr8C1z+opKDhFmcZcB0O5U6e5yEeL6mZo0D8hM7QX9ZP+VnVqXonYQ1hDA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <a class="navbar-brand me-3" href="{{url_for('main.home_page')}}">ITEMORA</a>
          {% if current_user.is_authenticated %}
            <span style="padding-left: 15px; color:white">Account: <strong>{{ current_user.username }}</strong></span>
          {% endif %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" style="color: #00afff; font-weight: bold;">
                  <i class="fa-solid fa-coins"></i> {{ current_user.prettier_budget }}
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('main.home_page')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.market_page')}}">Market</a>
            </li>
            {% if current_user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.logout_page')}}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.login_page')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.register_page')}}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    
    {% block content%}
    
    {% endblock %}
    
    {% include 'includes/footer.html' %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
    -->

  </body>
  <style>
    body{
      background-color: #212121;
      color : white;
    }
  </style>
</html>